<div class="tours-page">

  <h1>Available Tours</h1>

  <!-- FILTERS -->
  <div class="filters">
    <input [(ngModel)]="country" placeholder="Country" />

    <input type="number" [(ngModel)]="maxPrice" placeholder="Max Price" />

    <input type="number" [(ngModel)]="travelers" min="1" placeholder="Travelers" />

    <button (click)="applyFilters()">Apply Filters</button>
  </div>

  <!-- ERROR -->
  @if (error) {
    <p class="error">{{ error }}</p>
  }

  <!-- CARDS -->
  <div class="grid">

    @for (tour of filteredTours; track tour.id) {

      <div class="card">

        <!-- IMAGE -->
        <img [src]="'http://localhost:8000' + tour.photo" />

        <!-- CONTENT -->
        <div class="card-body">

          <h3>{{ tour.title }}</h3>

          <p>📍 {{ tour.country }}</p>

          <p>⏱ {{ tour.duration }} days</p>

          <p class="price">${{ tour.price }}</p>

          <button [routerLink]="['/tour', tour.id]">
            View Details →
          </button>

        </div>

      </div>

    }

  </div>

</div>