.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: teal;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.auth button {
  background: teal;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}